body, html {
    margin: 0;
    padding: 0;
}

/* Video Section */
.video-section {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* text overlay */
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 10px;
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif; /* Slim and modern fonts */
}

.text-overlay h1,
.text-overlay h2 {
    font-size: 3rem; /* Large headers */
    font-weight: bold; /* Add emphasis */
}

.text-overlay p {
    font-size: 1.5rem; /* Larger paragraph text */
    line-height: 1.8; /* Improved spacing for readability */
}

/* for small screens */
@media (max-width: 768px) {
    .text-overlay {
        padding: 15px; /* Further reduce padding */
    }

    .text-overlay h1,
    .text-overlay h2 {
        font-size: 1.8rem; /* Smaller headers for mobile */
    }

    .text-overlay p {
        font-size: 1rem; /* Smaller paragraph text */
        line-height: 1.4; /* Reduce line spacing */
    }
}

@media (max-width: 480px) {
    .text-overlay {
        padding: 5px; /* Minimal padding for very small screens */
    }

    .text-overlay h1,
    .text-overlay h2 {
        font-size: 1.2rem; /* Even smaller headers for very small screens */
    }

    .text-overlay p {
        font-size: 0.8rem; /* Adjust paragraph text size */
        line-height: 1.2; /* Tighten line spacing */
    }
}


/* Section Styles */
.section {
    padding: 50px 20px;
    text-align: center;
    color: white;
}

.about-me-section {
    background-color: #222;
}

.philosophy-section {
    background-color: #333;
}

.how-it-works-section {
    background-color: #444;
}

.mind-section {
    background-color: #555;
}

.nutrition-section {
    background-color: #666;
}

.exercise-section {
    background-color: #777;
}

.section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.section p {
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}
